body{
font-family: Arial;
margin:0;
background:#f7f7fb;
}

nav{
display:flex;
justify-content:space-between;
background:#8ecae6;
padding:15px;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin:10px;
}

nav a{
text-decoration:none;
color:black;
}

.hero{
text-align:center;
padding:100px;
background:#caf0f8;
}

button{
background:#ffb703;
border:none;
padding:10px 20px;
cursor:pointer;
border-radius:5px;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:white;
margin:20px;
padding:15px;
border-radius:10px;
width:200px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card img{
width:100%;
border-radius:10px;
}

footer{
text-align:center;
padding:20px;
background:#8ecae6;
margin-top:30px;
}